# Project exclude paths
sample.data
reference/
data/
run.py/
localJudge.py/
cmake-build-debug/
.idea/
BigIntegerTest/
temp/
testData/
cmake_install.cmake
CMakeCache.txt
stdin.txt
test.py
tmp.txt
Makefile
python_interpreter
python_interpreter.cbp
libantlr4-cpp-runtime.a
CMakeFiles/
code
code.cbp
#myData/
myTest.py
myout.txt
OrderVersion/
testcases/
myout.txt
stdout.txt
sample.data